<template>
  <div>
    <h1 v-html="$tf('about')"></h1>

    <Menu />

    <div v-html="$tf('example')"></div>
  </div>
</template>

<script>
import Menu from '../partials/Menu.vue';

export default {
  components: {
    Menu,
  },
};
</script>

<style>
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-info {
    color: #0c5b7a;
    background-color: #e1f8fc;
    border-color: #b2d5db;
  }
</style>
