<template>
  <header role="banner">
    <div class="pull-right">
      <I18n />
    </div>
    <h1 class="sitename">
      <router-link
        :to="`/${$tf('lang')}/`"
        v-html="$tf('color.soft')"
      />
    </h1>
    <p
      class="lead"
      v-html="$tf('meta.lead')"
    ></p>
    <hr
      class="trait"
      role="presentation"
    />
  </header>
</template>

<script>
import I18n from './I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

